* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
}

div{
    overflow-x: hidden;
}

a{
    color: white;
    text-decoration: none;
}

body {
    font-family: "CWC", sans-serif, Arial, sans-serif;
    margin: 0px;
    color: white;
}

.scorecards,
.scorecardhead,
.team,
.scores,
nav,
.nav1 {
    display: flex;
}

.scorecards {
    gap: 40px;
    margin: 0 7px 7px 7px;
    overflow-x: auto;
    color: black;
}

.scorecard {
    min-width: 350px;
}

.scorecardhead {
    width: 100%;
    justify-content: space-between;
}

.title {
    color: #516370;
    font-weight: 600;
    font-size: 12px;
    width: 70%;
}

span {
    font-weight: 800;
    color: black;
}

.info {
    font-size: 12px;
}

.odi {
    color: #1ccec9;
    font-weight: 800;
}

.live {
    font-size: 10px;
    font-weight: 800;
}

hr {
    height: 1px;
    background-color: #e5e5e5;
    color: #e5e5e5;
}

.flag {
    height: 20px;
    width: 30px;
}

.name {
    font-weight: bold;
}

.team {
    justify-content: space-between;
    gap: 5px;
}

.scores {
    justify-content: space-between;
}

.score {
    font-size: 15px;
    font-weight: bold;
}

.target {
    color: #516370;
    font-weight: 600;
    font-size: 12px;
    width: 100%;
}

button {
    width: 100%;
    height: 30px;
    border-radius: 20px;
    border: 1px solid #dce1e5;
    background-color: white;
    color: #001861;
    font-weight: bold;
}

.nav2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.part {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 10px;
    font-weight: bold;
}

.partimg {
    height: 30px;
}

.banner {
    background-image: url("https://res.cloudinary.com/dre3wdpfu/image/upload/v1760869073/Screenshot_2025-10-19_154059_dd18bz.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 10vh;
}

header {
    background-color: #00175f;
}

nav {
    justify-content: space-between;
    align-items: center;
    padding: 3vh 5vw;
    position: sticky;
    top: 0;
    background-color: #00175f;
    color: white;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 70%;
    font-weight: bold;
    font-size: 10px;
}

.nav1 {
    width: 60%;
    align-items: center;
}

.main-article {
    background-image: url("https://images.icc-cricket.com/image/upload/t_ratio21_9-size60-webp/prd/agurvh0rbvjvdypzwfhr");
    background-size: cover;
    width: 100%;
    height: 60vh;
}

.overlay {
    padding-top: 30vh;
    padding-left: 80px;
}

.overlay p {
    font-size: 30px;
}

.overlay h1 {
    font-size: 40px;
    font-weight: 700;
}

.news-grid {
    display: flex;
    gap: 30px;
    padding: 5vh 5vw;
    background-color: #00175f;
}

.card {
    min-width: 250px;
}

.card img {
    width: 100%;
    height: 130px;
}

.ticket {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    height: 60vh;
    background-color: #00175f;
}

.ticketimg {
    height: 100%;
}

.tickettxt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 40vh;
    overflow: hidden;
}

.tickettxt h1 {
    font-size: 40px;
}

.tickettxt button {
    width: 8vw;
}

.heading {
    padding: 5vh 5vw;
    font-size: 35px;
    font-weight: 800;
    color: #00175f;
}

.rankings{
    display: flex;
    padding: 0 5vw;
    gap: 25px;
    overflow-x: auto;
}

.ranking-card {
    min-width: 439px;
    border-radius: 8px;
}

.ranking-header {
    padding: 12px 16px;
    font-weight: bold;
    font-size: 14px;
    color: #2c3e50;
    border-bottom: 3px solid #00a651;
}

.ranking-header span {
    color: #0077cc;
}

.team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    border-bottom: 1px solid #e6e6e6;
}

.left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.right{
    display: flex;
    align-items: center;
}

.numberone{
    height: 12vh;
}

.rank {
    font-weight: bold;
    width: 25px;
    color: #555;
}

.flag {
    width: 25px;
    height: 15px;
    border: 1px solid #ccc;
}

.name {
    font-weight: bold;
    color: #0b2240;
}

.points {
    font-weight: bold;
    color: #0b2240;
}

.change {
    font-size: 12px;
}

.up {
    color: #00a651;
}

.down {
    color: red;
}

.fullrankings {
    text-align: center;
    padding: 12px;
    background-color: #f8f9fa;
    font-size: 13px;
    font-weight: bold;
    color: #00175f;
}

footer{
    background-color: white;
    display: flex;
    flex-direction: column;
}

.sponsers{
    padding: 5vh 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.separator {
    border-top: 1px solid #e0e0e0;
    margin: 5vh 10vw;
}

.sponser{
    width: 120px;
}

.copyright{
    color: gray;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

@media screen and (max-width:576px) {
    .banner {
        background-size: cover;
        height: 2vh;
    }

    .logo,
    .nav2 {
        display: none;
    }

    nav {
        width: 100vw;
        padding: 0;
        justify-content: center;
    }

    ul {
        width: 100vw;        
        padding: 10px 0;
        font-size: 13px;
    }

    .none{
        display: none;
    }

    .news-grid {
        overflow-x: auto;
    }

    .overlay p {
        font-size: 15px;
    }

    .overlay h1 {
        font-size: 20px;
    }

    .line {
        display: none;
    }

    .ticket{
        flex-direction: column;
    }

    .ranking-card{
        min-width: 90vw;
    }
}